APP_NAME=keycloak-onboarder
APP_ENV=development
APP_PORT=9000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/onboarder?sslmode=disable

AUTH_MODE=keycloak
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_INTERNAL_URL=http://localhost:8080
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=onboarder
KEYCLOAK_AUDIENCE=keycloak-onboarder-ui
KEYCLOAK_ADMIN_CLIENT_ID=onboarder-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=CHANGE_ME
